<div class="home-hero container-fluid">
	<div class="header-text text-center">
		<h1>Drone Dispatch</h1>
		<h2>GetSwift Limited</h2>
		<a class="btn btn-primary" href="/gather">Dispatch the Drones!</a>
	</div>
	
</div>