<div class="hero container-fluid">
	<div class="header-text text-center">
		<h1>Drone Dispatch</h1>
		<h2>GetSwift Limited</h2>
		<a class="btn btn-primary" href="/gather">Dispatch Again</a>
	</div>
	
</div>
<div class="container text-center">
	<h1>Results for Drone/Package Matching</h1>
	<div class="content">
		Assignments: <strong>[</strong>
		{{#each list.paired_list}}
		    { droneId: {{ this.droneId }}, packageId: {{this.packageId}} }  
		{{/each}}
		<strong>]</strong>
		<p> </p>
		Unassigned Package Ids: <strong>[</strong>
		{{#each list.unpaired_list}}
		    {{ this.packageId }}, 
		{{/each}}
		<strong>]</strong>
	</div>
</div>