<div class="hero container-fluid">
	<div class="header-text text-center">
		<h1>Drone Dispatch</h1>
		<h2>GetSwift Limited</h2>
	</div>
	
</div>
<div class="container text-center">
	<h1>Results for Drone/Package Matching</h1>
	<div class="content">
		Paried List: <strong>[</strong>
		{{#each list.paired_list}}
		    { droneId: {{ this.droneId }}, packageId: {{this.packageId}} }  
		{{/each}}
		<strong>]</strong>
		<p> </p>
		Un-paired List: <strong>[</strong>
		{{#each list.unpaired_list}}
		    { packageId: {{ this.packageId }} }
		{{/each}}
		<strong>]</strong>
	</div>
</div>