<div class="hero container-fluid">
	<div class="header-text text-center">
		<h1>Drone Dispatch</h1>
		<h2>GetSwift Limited</h2>
	</div>
	
</div>
<div class="container">
	<div class="content">
		{{lists.paired_list}}
	</div>
</div>