body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero{
	height: 500px;
	background: url(../images/drone_sun.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.home-hero{
	height: 100vh;
	background: url(../images/drone_sun.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.header-text{
	padding-top: 150px;
	color: #ffffff;
}

.content{
	font-size: 24px;
	padding: 50px;
}